/* 共通 */
body {
    margin: 0;
}

hr {
    opacity: 0.3;
}

.v-content {
    padding: 0!important;
}

.v-application a {
    text-decoration: none;
}

/* icon color */
.v-btn--outlined .v-btn__content .v-icon, .v-btn--round .v-btn__content .v-icon {
    color: white;
}

/* Header */
header .v-toolbar__content {
    margin: 0 21%;
}

.authentication .navbar-item {
    padding-right: 10px;
    margin-bottom: 0;
    color: white;
}




.signup,
.signin{
    background-color: white;
    margin: 0 auto 100px;
    width: 900px;
    padding: 30px;
}

.company-register {
    background-color: white;
    margin: 0 auto 100px;
    width: 785px;
    padding: 30px;
}


.signup h2,
.signin h2 {
    padding: 32px;
    font-weight: bold;
    text-align: center;
}

.v-application--wrap {
    background-color: rgb(245,245,245);
}

.google_email {
    padding-right: 20px;
}


.signup .v-btn:not(.v-btn--round).v-size--default,
.signin .v-btn:not(.v-btn--round).v-size--default{
    width: 350px;
}

/* company list */
.company-list .mx-auto{
    max-width: 900px;
}

.register_button{
    position: fixed;
    bottom: 12px;
    right: 22%;
}

.company-list .v-btn--fab.v-size--large {
    height: 80px;
    width: 80px;
}

.company-list .v-btn--icon.v-size--large .v-icon, .v-btn--fab.v-size--large .v-icon {
    font-size: 35px;
}


.company-list .company-counter {
    max-width:785px; 
    margin: auto;
}

.company-list .company-counter p {
    color: #e5222c;
}

/* company list detail */
.company-list-detail {
    margin-bottom: 20px;
}

.company-list-detail .v-card__subtitle, .v-card__text, .v-card__title {
    padding-top: 5px;
}

.company-list-detail .v-list-item__title {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    padding-left: 15px;
}

/* .v-appliction v-row .mx-auto {
    margin-right: 0 !important;
    margin-left: 0 !important;
} */

.v-application .mx-auto {
    margin-right: 0!important;
    margin-left: 0!important;
}

.company-list-detail .row {
    justify-content: center;
}


/* company register */
.company-register .col-md-3 {
    max-width: 100%;
}

.company-register .register-center  {
    text-align: center;
}

.company-register .register {
    width: 300px;
}

.company-register .v-application a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}